body{
    font-family: 'Montserrat', sans-serif;
}
body p{
    text-align: justify;
    color:gray;
}
h1{
    font-size: 60px;
    font-weight: 700;
    color: #777777;
}
.orange-color{
    color:#FBA24F;
}
.flexible-area{
    display: flex;
}
section{
    margin-bottom:100px;
    margin-top: 20px;
}
.half-width{
    width: 50%;
    margin-left:20px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 15px 30px;
    border-radius:20px;
    color: white;
    font-size: 700;
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
   
    
}
.about-me-area{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
#recipi-details{
    text-align: center;
}
#recipi-details p{
    text-align: center;
}
.single-recipi{
    width:30%;
    margin-left:50px;
    box-shadow: 20px 20px 50px gray;
    border-radius: 20px;
    text-align:center;

}
.single-recipi img{
    width:350px;
    height: 300px;
    margin-top:30px;
}
.single-recipi p{
    text-align: center;
}
#my-followers{
   display: flex;
   box-shadow: 10px 10px 30px gray;
   width: 1239px;
   height: 200px;
   border-radius: 20px;
   margin-left:5%;
   background-color:white;
   font-weight: 700;
}
.fan-followers{
   margin: 0 auto;
}
.fan-followers small{
    color: gray;
}
#cutomer-review{
    text-align: center;
}
.review{
    margin-left: 80px;
}
.review img{
    border-radius: 100px;
}
.fa-star{
   color:goldenrod;
}
.white-star{
    color: white;
}
footer{
    text-align: center;
    background-color: black;
    height: 256px;
    width: 1350px;

}
footer small{
    color: white;
}
footer p{
    text-align: center;
}